<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyImagePickerController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C963E7B1E2616C200708063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C963E941E2616C200708063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C963E9F1E2616C200708063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
